.headlinesContainer {
  background: #d9d9d9;
  padding: 3.25rem 0 0 0;
  .headingSection {
    padding: 0 0 0 4rem;
    .sectionHeading {
      font-size: 4rem;
      font-weight: 600;
      margin: 0;
      .highlight {
        color: #c1111e;
      }
    }
  }
  .secondHeading {
    padding-right: 6rem;
    justify-content: space-between;
    .controlButtonsSection {
      justify-content: right;
      display: flex;
      gap: 1rem;
      .controlButton {
        background-color: #fff;
        border-radius: 50%;
        padding: 1rem;
        cursor: pointer;
      }
    }
  }
  .breakingNewsContainer {
    margin: 0 4rem;
    display: flex;
    border-radius: 5rem;
    .breakingNewsTextContainer {
      padding: 2.5rem 1.9rem 2.375rem 4.25rem;
      margin-top: 2.5rem;
      background-color: #fff;
      border-radius: 5rem 0 0 5rem;
      height: max-content;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: relative;
      .breakingNewsInformation {
        display: flex;
        justify-content: space-between;
        .breakingNewsInformationText {
          font-size: 1.125rem;
        }
        .breakingNewsMetrics {
          display: flex;
          gap: 0.5rem;
        }
      }
      .breakingNewsContent {
        .breakingNewsText {
          margin: 0;
          font-size: 1.75rem;
          font-weight: 300;
        }
      }
      .readMoreSection {
        position: absolute;
        transform: translateY(50%);
        bottom: 0;
        right: 1.9rem;
      }
      .authorDetailsSection {
        .authorText {
          font: 1.125rem;
          margin-left: 3.875rem;
        }
      }
    }
    .breakingNewsImageSection {
      padding: 3.5rem 3rem 3rem 3rem;
      border-radius: 3rem 5rem 4rem 4rem;
      background: #fff;
      .breakingNewsImage {
      }
    }
  }
  .breakingNewsSlider {
    padding: 3rem 0rem 5.625rem 4rem;
    display: flex;
    gap: 1.75rem;
    scrollbar-width: none;

    overflow: scroll;
    .breakingNewsCarousel {
      position: relative;
      .background {
        position: absolute;
        left: 0;
      }
      .breakingNews {
        position: relative;
        display: flex;
        max-width: 26.25rem;
        .textSection {
          display: flex;
          flex-direction: column;
          gap: 3%;
          justify-content: flex-start;
          align-items: center;
          .newsText {
            font-size: 1.125rem;
            padding: 8.5% 0 6% 8%;
            border-radius: 2rem 0 0 2rem;
          }
          .newscontrolButtonsSection {
            width: max-content;
            display: flex;
            background: #fff;
            padding: 0.4rem 1rem;
            gap: 1rem;
            border-radius: 2.25rem;
            align-items: center;
            .newscontrolButton {
              padding: 1rem;
              background: #000;
              border-radius: 50%;
              margin: 0;
              width: 2.875rem;
              height: 2.875rem;
              box-sizing: border-box;
              text-align: center;
            }
            .newscontroltextButton {
              font-size: 1.125rem;
            }
          }
        }
        .imageSection {
          padding: 1.125rem 1.125rem 1.125rem 0.5rem;
          border-radius: 0 2rem 2rem 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1354px) {
  .headlinesContainer {
    .headingSection {
      .sectionHeading {
        .highlight {
        }
      }
    }
    .secondHeading {
      .controlButtonsSection {
        .controlButton {
        }
      }
    }
    .breakingNewsContainer {
      .breakingNewsTextContainer {
        .breakingNewsInformation {
          .breakingNewsInformationText {
          }
          .breakingNewsMetrics {
          }
        }
        .breakingNewsContent {
          .breakingNewsText {
            font-size: 1.5rem;
          }
        }
        .readMoreSection {
        }
        .authorDetailsSection {
          .authorText {
          }
        }
      }
      .breakingNewsImageSection {
        .breakingNewsImage {
        }
      }
    }
    .breakingNewsSlider {
      .breakingNewsCarousel {
        .background {
        }
        .breakingNews {
          .textSection {
            gap: 5%;
            .newsText {
            }
            .newscontrolButtonsSection {
              .newscontrolButton {
              }
              .newscontroltextButton {
              }
            }
          }
          .imageSection {
          }
        }
      }
    }
  }
}
