@import '../common/variables.module.css';
.ourServicesContainer {
  padding: 2rem var(--left-right-spacing-lg) 2rem;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  /* height: 100vh; */
  .ourServicesHeading {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-size: var(--text-7xl);
    font-weight: 700;
    .highlight {
      color: var(--pink);
    }
    .line {
      height: 0;
      width: 35%;
      border: 1px solid #000;
    }
  }

  .servicesSection {
    display: flex;
    gap: 0.875rem;
    /* min-height: 56.25rem; */

    .branding {
      width: 35%;
    }
    .rightSide {
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
      flex: 1;
      .first {
        display: flex;
        gap: 0.875rem;
        .innerLeft {
        }
        .innerRight {
          display: flex;
          flex-direction: column;
          gap: 0.875rem;
        }
      }
    }
    .subSection {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.375rem 1.25rem 1rem;
      box-sizing: border-box;
      text-align: right;
      color: #fff;
      justify-content: end;

      .heading,
      .number {
        font-weight: 700;
        margin: 0;
      }
      .heading {
        font-size: 1.875rem;
      }
      .number {
        font-size: 2.375rem;
      }
      .text {
      }
    }
  }
}
