.container {
  max-width: 90rem;
  margin: 0 auto;
  position: relative;

  .rowNavbarItem {
    padding: 1rem 0;
    font-size: 2.7rem;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    cursor: pointer;
    width: 100%;
    display: block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    font-weight: 300;

    .text {
      display: block;
      -webkit-text-stroke-color: unset;
      color: #fff;
      font-size: 1rem;
      font-weight: 300;
      margin-top: 0.5rem;
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      width: 50%;
      margin: auto;
    }

    &:hover {
      .text {
        opacity: 1;
        visibility: visible;
        height: auto;
        margin: 0.5rem auto 0;
      }
    }
  }
}
