.container {
  max-width: 90rem;
  margin: 0 auto;
  position: relative;

  .rowNavbarItem {
    font-size: 2.7rem;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    cursor: pointer;
    width: 100%;
    display: block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
