@import "../../components/common/variables.module.css";
.aboutUsContainer {
  background: radial-gradient(
    107.57% 94.52% at 80.1% 10.4%,
    #474747 0%,
    #000 76%
  );
  padding: 7.5rem 0 3.25rem;

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 var(--left-right-spacing-lg);
    display: flex;
    color: #fff;
    gap: 7.5rem;
    font-weight: 600;

    .headingSide {
      display: flex;
      flex-direction: column;
      gap: 3.75rem;

      .heading {
        font-size: var(--text-section-heading-lg);
      }
    }

    .textSide {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .regularText {
        font-size: var(--text-lg);
        font-weight: 300;
        margin-left: auto;
        width: 95%;
      }

      .redirectText {
        font-size: var(--text-lg);
        font-weight: 400;
        text-align: right;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
.highlight {
  color: #ef3e58;
}
