.aboutUsPage {
}

.infoSection,
.highlightSliderContainer,
.teamSection,
.missionVisionSection,
.whyTrinitySection,
.clientSection {
  /* background: radial-gradient(circle, #ef3e58 0%, #ef3e58 60%, #566e87 100%); */
  background: radial-gradient(circle, #ef3e58 0%, #c1111e 60%, #000 100%);
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 0 2rem;
}

.header {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}

.headerBackground {
  /* background-color: #f87171; */
  background: radial-gradient(circle, #ef3e58 0%, #566e78 60%, #ef3e58 100%);
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.mainDescription {
  text-align: center;
  color: #4b5563;
  max-width: 48rem;
  margin: 0 auto 2.25rem;
  line-height: 1.6;
}

.teamGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.imageContainer {
  background-color: #f87171;
  width: 18rem;
  height: 18rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.memberImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memberName {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.memberRole {
  color: #6b7280;
  font-style: italic;
  margin-bottom: 0.75rem;
}

.memberDescription {
  color: #4b5563;
  max-width: 23rem;
  margin: 0 auto;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .teamGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
  .title {
    font-size: 1.75rem;
  }
  .memberDescription {
    padding: 1rem;
  }
  .headerBackground {
    padding: 2rem 0;
  }
}
