.workPageContainer {
}

.workDemoSection {
  background: radial-gradient(circle, #ef3e58 0%, #c1111e 60%, #000 100%);
}

.container {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 11.25rem 4rem;
  max-width: 90rem;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
  p {
    font-size: 1.125rem;
  }

  .centralText {
    color: #ef3e58;
    font-size: 6rem;
    font-weight: 700;
    word-break: break-word;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }
}
.subContainer {
  display: flex;
  gap: 0.5rem;
}

.flexColumn {
  flex-direction: column;
}

.item {
  height: max-content;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  img {
    max-width: 100%;
  }
}

.absolutePosition {
  position: relative;
}

.itemSmall {
  width: 40%;
  flex: unset;
}

.itemLong {
  flex: unset;
}

.itemLarge {
  width: 60%;
  flex: unset;
}

.item1 {
  flex: 0 0 33.33%;
}

.nestedContainer {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.nestedItemContainer {
  display: flex;
  gap: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.heading {
  font-size: 1.75rem;
  font-weight: 600;
}

.objective {
  font-size: 1.5rem;
  font-weight: 600;
}

.missionQuestion,
.whyUsQuestion,
.highlightQuestion,
.impactQuestion {
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
    gap: 0.25rem;
    .centralText {
      font-size: 2.5rem;
    }
  }
  .nestedContainer,
  .subContainer {
    /* display: flex; */
    gap: 0.25rem;
  }
}
