:root {
  --pink: #ef3e58;
  --red: #c1111e;
  --text-very-sm: 1rem;
  --text-sm: 1.125rem;
  --text-md: 1.25rem;
  --text-reg: 1.5rem;
  --text-lg: 1.75rem;
  --text-xl: 1.875rem;
  --text-2xl: 2.5rem;
  --text-3xl: 2.25rem;
  --text-4xl: 2.5rem;
  --text-5xl: 3rem;
  --text-6xl: 3.5rem;
  --text-section-heading-lg: 6.75rem;
  --text-section-heading: 6rem;
  --left-right-spacing-lg: 7.5rem;
}
