@import "../../components/common/variables.module.css";
.container {
  .sectionHeading {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  .valuesSection,
  .sliderSection,
  .formSection,
  .highlightContainer {
    background: radial-gradient(circle, #ef3e58 0%, #c1111e 60%, #000 100%);
  }
  .carouselWrapperStyle {
    gap: 2rem;
  }

  .sliderContainer {
    padding: 2rem 0 0;
  }
  .sliderCard {
    background: var(--pink);
    border-radius: 0.625rem 3.125rem;
    color: #fff;
    padding: 2rem;
    box-sizing: border-box;
  }
  .headingStyle {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 0 1rem;
  }
  .subHeadingStyle {
    font-size: 1.875rem;
    text-align: center;
  }
  .textStyle {
    font-size: 1rem;
    text-align: center;
  }
  .formSection {
    .formContainer {
      max-width: 90rem;
      gap: 3rem;
      display: flex;
      flex-direction: column;
      padding: 2rem 0 0;
      margin: 0 auto;
      background: #fff;
      .formComponent {
        display: flex;
        gap: 2rem;
        .imageComponent {
          max-height: max-content;
          .image {
            max-width: 100%;
          }
          flex: 1;
        }
        .form {
          flex: 1;
          max-height: max-content;
        }
      }
    }
  }
}
